################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 21/.vs/Laboratorio 21
/Laboratorio 3/.vs/Laboratorio 3
/Laboratorio 3/.vs/ProjectEvaluation
