################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 21/.vs/Laboratorio 21
/Laboratorio 3/.vs/Laboratorio 3
/Laboratorio 3/.vs/ProjectEvaluation
/Laboratorio 3/Laboratorio 31/.vs/Laboratorio 31
/Laboratorio 3/Laboratorio 31/.vs/ProjectEvaluation
/Laboratorio 3/Laboratorio 32/.vs
/Laboratorio 3/Laboratorio 33/.vs/Laboratorio 33
/Laboratorio 2/Laboratorio 21/.vs
/Laboratorio 4/Laboratorio 41/.vs/Laboratorio 41
/Laboratorio 4/Laboratorio 42/.vs/Laboratorio 42
/Laboratorio 4/Laboratorio 43/.vs/Laboratorio 43
/Laboratorio 4/Laboratorio 44/.vs
/Laboratorio 4/Laboratorio 45/.vs/Laboratorio 45
/Laboratorio 4/Laboratorio 46/.vs/Laboratorio 46
/Laboratorio 4/Laboratorio 47/.vs/Laboratorio 47
/Laboratorio 5/Laboratorio 51/.vs/Laboratorio 51
/Laboratorio 5/Laboratorio 52/.vs/Laboratorio 52
/Laboratorio 5/Laboratorio 53/.vs/Laboratorio 53
/Laboratorio 5/Laboratorio 54/.vs/Laboratorio 54
/Laboratorio 5/Laboratorio 55/.vs/Laboratorio 55
/Laboratorio 5/Laboratorio 55/.vs/ProjectEvaluation
/Laboratorio 5/Laboratorio 55/Laboratorio 56/.vs/Laboratorio 56
/Laboratorio 5/Laboratorio 55/Laboratorio 56/.vs/ProjectEvaluation
/Laboratorio 6/Laboratorio 61/.vs/Laboratorio 61
/Laboratorio 6/Laboratorio 62/.vs/Laboratorio 62
/Laboratorio 6/Laboratorio 63/.vs/Laboratorio 63
/Laboratorio 6/Laboratorio 64/.vs/Laboratorio 64
/Laboratorio 7/Laboratorio 71/.vs/Laboratorio 71
/Laboratorio 7/Laboratorio 72/.vs/Laboratorio 72
/Laboratorio 8/Laboratorio 81/.vs/Laboratorio 81
/Laboratorio 8/Laboratorio 82/.vs/Laboratorio 82
/Laboratorio 8/Lab 83/.vs/Lab 83
/Laboratorio 8/Laboratorio 84/.vs/Laboratorio 84
/Laboratorio 8/Laboratorio 85/.vs/Laboratorio 85
/Laboratorio 8/Laboratorio 83/.vs
/Laboratorio 8/Laboratorio 86/.vs
/Laboratorio 8/Laboratorio 87/.vs/Laboratorio 87
/Laboratorio 8/Laboratorio 88/.vs/Laboratorio 88
/Laboratorio 8/Laboratorio 89/.vs/Laboratorio 89
/Laboratorio 9/Laboratorio 91/.vs/Laboratorio 91
/Laboratorio 9/Laboratorio 92/.vs/Laboratorio 92
/Laboratorio 9/Laboratorio 93/.vs/Laboratorio 93
/Laboratorio 9/Laboratorio 94/.vs/Laboratorio 94
/Laboratorio 9/Laboratorio 95/.vs/Laboratorio 95
/Laboratorio 10/Laboratorio 101/.vs/Laboratorio 101
/Laboratorio 10/Laboratorio 102/.vs/Laboratorio 102
/Laboratorio 10/Laboratorio 103/.vs/Laboratorio 103
/Laboratorio 10/Laboratorio 104/.vs/Laboratorio 104
/Laboratorio 10/ConsoleApp1/.vs
/Laboratorio 11/Laboratorio 11/.vs/Laboratorio 11
/Laboratorio 12/Laboratorio 12/.vs/Laboratorio 12
/Laboratorio 12/Laboratorio 122/Laboratorio 122/.vs/Laboratorio 122
/Laboratorio 12/Laboratorio 123/Laboratorio 123/.vs/Laboratorio 123
/Laboratorio 13/Laboratorio 131/Laboratorio 131/.vs/Laboratorio 131
