################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1/.vs/ProjectEvaluation
/Laboratorio 2/.vs/Laboratorio 2
/Laboratorio 21/.vs/Laboratorio 21
/Laboratorio 3/.vs/Laboratorio 3
/Laboratorio 3/.vs/ProjectEvaluation
/Laboratorio 3/Laboratorio 31/.vs/Laboratorio 31
/Laboratorio 3/Laboratorio 31/.vs/ProjectEvaluation
/Laboratorio 3/Laboratorio 32/.vs
/Laboratorio 3/Laboratorio 33/.vs/Laboratorio 33
/Laboratorio 2/Laboratorio 21/.vs
/Laboratorio 4/Laboratorio 41/.vs/Laboratorio 41
/Laboratorio 4/Laboratorio 42/.vs/Laboratorio 42
/Laboratorio 4/Laboratorio 43/.vs/Laboratorio 43
/Laboratorio 4/Laboratorio 44/.vs
/Laboratorio 4/Laboratorio 45/.vs/Laboratorio 45
/Laboratorio 4/Laboratorio 46/.vs/Laboratorio 46
/Laboratorio 4/Laboratorio 47/.vs/Laboratorio 47
/Laboratorio 5/Laboratorio 51/.vs/Laboratorio 51
/Laboratorio 5/Laboratorio 52/.vs/Laboratorio 52
/Laboratorio 5/Laboratorio 53/.vs/Laboratorio 53
/Laboratorio 5/Laboratorio 54/.vs/Laboratorio 54
